*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out !important;
}

body {
    box-sizing: border-box;
    font-size: $font-size;
    background-color: $very-dark-blue;
}

a,
a:hover,
a:active{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

ul,li{
    list-style: none;
}

// visibility
.hide-for-mobile{
}

.hide-for-desktop{
}